extends layout.pug

block scripts
	script.
		$(document).ready(function(){
			$('#games_list_table').DataTable({
				searching: false,
				pageLength: 25,
				bLengthChange: false,
		    	bInfo : false,
		    	order: [[ 1,  'desc' ]]
		    });
		});
	script.
		$(function() {
			$('.btn-continue-game').click(function () {
				location.href = '/game/' + $(this).data('game');
			});
			$('.btn-view-results').click(function() {
				location.href = '/game/' + $(this).closest('tr').find('th').text() + '/results';
			});
		});

block content
	h2 Games
	p.
		Overview over all played games

	div(class='table-responsive')
		table(class='table table-striped table-bordered' id='games_list_table')
			thead
				tr
					th(hidden=true)
					th Start Time
					th Game type
					th Players	
					th Winner				
					th Results	
			tbody
				each game in games
					tr
						th(hidden='true' scope='row')= game.id
						td(class='col-sm-2')= game.created_at.toISOString()
						td(class='col-sm-2')= game.game_type.name						
						td(class='col-sm-1')
							each player in game.players
								// span(class='label label-primary' style='margin-bottom: 5px;')=player.name + ' (' + player.legs_won + ')'
									span(class='badge pull-right' style='margin-top: 2px;')=player.wins
								div(style='margin-bottom: 5px;')
									span(class='label label-primary' style='line-height: inherit;')=player.name + ' (' + player.legs_won + ')'
						if game.is_finished
							td(class='col-sm-1')
								div: span(class='label label-success' style='line-height: inherit;')=game.players[game.winner_id].name
						else
							td(class='col-sm-2')
						td(class='col-sm-2')
							if !game.is_finished
								button(type='button' id='continueGameButton' data-game=game.id class='btn btn-primary btn-block btn-continue-game') Continue
							else
								button(type='button' class='btn btn-primary btn-block btn-view-results') View								
