extends layout.pug

block scripts
	script.
		$(document).ready(function(){
			$('#matches_list_table').DataTable({
				searching: false,
				pageLength: 25,
				bLengthChange: false,
		    	bInfo : false,
		    	order: [[ 1,  'desc' ]]
		    });
		});
	script.
		$(function() {
			$('.btn-continue-match').click(function() {
				window.location.href = '/match/' + $(this).closest('tr').find('th').text();
			});
			$('.btn-view-results').click(function() {
				window.location.href = '/match/' + $(this).closest('tr').find('th').text() + '/results';
			});
		});

block content
	h2 Matches
	p.
		Overview over all played matches

	div(class='table-responsive')
		table(class='table table-striped table-bordered' id='matches_list_table')
			thead
				tr
					th(hidden=true)
					th Start Time
					th End Time
					th Match Type
					th Winner
					th Players
					th Game type
					th Results
			tbody
				each match in matches
					tr
						th(hidden='true' scope='row')= match.id
						td(class='col-sm-2')= match.created_at.toISOString()
						td(class='col-sm-2')= match.end_time === undefined ? '' : match.end_time.toISOString()
						td(class='col-sm-2 txt-center')= match.starting_score
						if match.is_finished
							td(class='col-sm-1')
								div: span(class='label label-success' style='line-height: inherit;')=players[match.winner_id].name
						else
							td(class='txt-center') -
						td(class='col-sm-1')
							each player in match.players
								div(style='margin-bottom: 5px;')
									span(class='label label-info' style='line-height: inherit;')=player.name
						td(class='col-sm-1 txt-center')= match.game.game_type.name
						td(class='col-sm-2')
							if !match.is_finished
								button(type='button' id='continueMatchButton' class='btn btn-primary btn-block btn-continue-match') Continue
							else
								button(type='button' class='btn btn-primary btn-block btn-view-results') View