extends layout.pug

block scripts
	link(rel='stylesheet', href='/css/site.css')
	script.
		$(function () {
			$( document ).ready(function() {
			    window.darts_thrown = 0;
			});

			$('#score_selector_table tr :button').click(function () {
				var scoreButton = $(this);

				var dart;
				if (window.darts_thrown === 0) {
					dart = $('#first');
				}
				else if (window.darts_thrown === 1) {
					dart = $('#second');
				}
				else if (window.darts_thrown === 2) {
					dart = $('#third');
				}
				else {
					alert('Please submit previous score!');
					return;
				}

				var clonedButton = scoreButton.clone();
				dart.text('').append(clonedButton);
				updateScore();
				window.darts_thrown++;
			});

			$('#submitScoreButton').click(function() {
				var firstScoreNumeric = parseInt($('#first :button').attr('title'));
				var secondScoreNumeric = parseInt($('#second :button').attr('title'));
				var thirdScoreNumeric = parseInt($('#third :button').attr('title'));

				var match = $(this).data('match');

				var data = JSON.stringify({
					'matchId' : match._id,
					'playerId' : match.currentPlayer,
					'firstDart' : firstScoreNumeric,
					'secondDart' : secondScoreNumeric,
					'thirdDart' : thirdScoreNumeric
				});
				executePost(window.location.pathname + '/throw', data, 'application/json',
					function(response) {
						window.darts_thrown = 0; // Reset darts thrown
						location.href = window.location.pathname;
					},
					function(error){
						// TODO Error handling
						console.log("Unable to add score: " + error.responseText);
					}
				);
			});

			$('#undoButton').click(function() {
				if (window.darts_thrown > 0) {
					window.darts_thrown--;
				}
				else {
					return;
				}
				var dart;
				if (window.darts_thrown === 0) {
					dart = $('#first');
				}
				else if (window.darts_thrown === 1) {
					dart = $('#second');
				}
				else if (window.darts_thrown === 2) {
					dart = $('#third');
				}
				dart.text('');
				updateScore();
			});

			$('#seeScoresButton').click(function() {
				$('#scoresModal').modal('show');
			});
			$('#cancelMatchButton').click(function() {
				executeDelete(window.location.pathname + '/cancel',
					function(response) {
						location.href = '/match/list';
					},
					function(error) {
						var alert = $('#cancelMatchFailedAlert');
						alert.show();
						alert.text('Unable to cancel match, see log for details (' + error.statusText + ')');
					}
				);
			});

			function updateScore(){
				var firstScoreNumeric = parseInt($('#first :button').attr('title'));
				var secondScoreNumeric = parseInt($('#second :button').attr('title'));
				var thirdScoreNumeric = parseInt($('#third :button').attr('title'));

				var firstDartScore = firstScoreNumeric ? firstScoreNumeric : 0;
				var secondDartScore = secondScoreNumeric ? secondScoreNumeric : 0;
				var thirdDartScore = thirdScoreNumeric ? thirdScoreNumeric : 0;

				// Summarize
				var totalScore = firstDartScore + secondDartScore + thirdDartScore;
				$('#total').html(totalScore + "<br/>&nbsp;");
			}
		});

block content
	div(id='cancelMatchFailedAlert' class='alert alert-danger' role='alert' hidden='true').
		Unable to cancel match

	h2= 'Match'
	div
		p Players
		ol
			each player in players
				li(id='player_' + player)= player.name + ' [' + player.current_score + ']'

	table(id='thrown_table' class='table')
		thead
			tr(class='row')
				th: p First
				th: p Second
				th: p Third
				th: p Total
				th: p
		tbody
			tr(class='row')
				td: label(id='first' text='0')
				td: label(id='second' text='0')
				td: label(id='third'  text='0')
				td: button(id='total' text='0' class='btn btn-lg btn-success') 0<br/>&nbsp;
				td: button(id='submitScoreButton' type='button' class='btn-score btn-info btn-lg btn-block' data-match=match) Submit
				td: button(id='undoButton' type='button' class='btn-score btn-info btn-lg btn-block') &nbsp;
					span(class='glyphicon glyphicon-arrow-left' aria-hidden='true')

	div(class='table-responsive')
		table(id='score_selector_table' class='table')
			tbody
				tr
					td: button(type='button' class='btn-score btn-info btn-lg btn-block' title='0') Miss<br/>&nbsp;
					td: button(type='button' class='btn-score btn-info btn-lg btn-block' title='20') 20<br/>.
					td: button(type='button' class='btn-score btn-info btn-lg btn-block' title='19') 19<br/>.
					td: button(type='button' class='btn-score btn-info btn-lg btn-block' title='18') 18<br/>.
					td: button(type='button' class='btn-score btn-info btn-lg btn-block' title='17') 17<br/>.
					td: button(type='button' class='btn-score btn-info btn-lg btn-block btn-double' title='40') 20<br/>..
					td: button(type='button' class='btn-score btn-info btn-lg btn-block btn-double' title='38') 19<br/>..
					td: button(type='button' class='btn-score btn-info btn-lg btn-block btn-double' title='36') 18<br/>..
					td: button(type='button' class='btn-score btn-info btn-lg btn-block btn-double' title='34') 17<br/>..
					td: button(type='button' class='btn-score btn-info btn-lg btn-block btn-triple' title='60') 20<br/>...
					td: button(type='button' class='btn-score btn-info btn-lg btn-block btn-triple' title='57') 19<br/>...
					td: button(type='button' class='btn-score btn-info btn-lg btn-block btn-triple' title='54') 18<br/>...
					td: button(type='button' class='btn-score btn-info btn-lg btn-block btn-triple' title='51') 17<br/>...
				tr
					td(rowspan='2' style='height:100%')
						button(type='button' style='height:100%' class='btn-score btn-info btn-lg btn-block btn-double' title='25') Bull<br/>.
					td: button(type='button' class='btn-score btn-info btn-lg btn-block' title='16') 16<br/>.
					td: button(type='button' class='btn-score btn-info btn-lg btn-block' title='15') 15<br/>.
					td: button(type='button' class='btn-score btn-info btn-lg btn-block' title='14') 14<br/>.
					td: button(type='button' class='btn-score btn-info btn-lg btn-block' title='13') 13<br/>.
					td: button(type='button' class='btn-score btn-info btn-lg btn-block  btn-double' title='32') 16<br/>..
					td: button(type='button' class='btn-score btn-info btn-lg btn-block  btn-double' title='30') 15<br/>..
					td: button(type='button' class='btn-score btn-info btn-lg btn-block  btn-double' title='28') 14<br/>..
					td: button(type='button' class='btn-score btn-info btn-lg btn-block  btn-double' title='26') 13<br/>..
					td: button(type='button' class='btn-score btn-info btn-lg btn-block  btn-triple' title='48') 16<br/>...
					td: button(type='button' class='btn-score btn-info btn-lg btn-block  btn-triple' title='45') 15<br/>...
					td: button(type='button' class='btn-score btn-info btn-lg btn-block  btn-triple' title='42') 14<br/>...
					td: button(type='button' class='btn-score btn-info btn-lg btn-block  btn-triple' title='39') 13<br/>...
				tr
					td: button(type='button' class='btn-score btn-info btn-lg btn-block ' title='12') 12<br/>.
					td: button(type='button' class='btn-score btn-info btn-lg btn-block ' title='11') 11<br/>.
					td: button(type='button' class='btn-score btn-info btn-lg btn-block ' title='10') 10<br/>.
					td: button(type='button' class='btn-score btn-info btn-lg btn-block ' title='9') 9<br/>.
					td: button(type='button' class='btn-score btn-info btn-lg btn-block  btn-double' title='24') 12<br/>..
					td: button(type='button' class='btn-score btn-info btn-lg btn-block  btn-double' title='22') 11<br/>..
					td: button(type='button' class='btn-score btn-info btn-lg btn-block  btn-double' title='20') 10<br/>..
					td: button(type='button' class='btn-score btn-info btn-lg btn-block  btn-double' title='18') 9<br/>..
					td: button(type='button' class='btn-score btn-info btn-lg btn-block  btn-triple' title='36') 12<br/>...
					td: button(type='button' class='btn-score btn-info btn-lg btn-block  btn-triple' title='33') 11<br/>...
					td: button(type='button' class='btn-score btn-info btn-lg btn-block  btn-triple' title='30') 10<br/>...
					td: button(type='button' class='btn-score btn-info btn-lg btn-block  btn-triple' title='27') 9<br/>...
				tr
					td(rowspan='2' style='height:100%')
						button(type='button' style='height:100%' class='btn-score btn-info btn-lg btn-block btn-triple' title='50') Bull<br/>..
					td: button(type='button' class='btn-score btn-info btn-lg btn-block ' title='8') 8<br/>.
					td: button(type='button' class='btn-score btn-info btn-lg btn-block ' title='7') 7<br/>.
					td: button(type='button' class='btn-score btn-info btn-lg btn-block ' title='6') 6<br/>.
					td: button(type='button' class='btn-score btn-info btn-lg btn-block ' title='5') 5<br/>.
					td: button(type='button' class='btn-score btn-info btn-lg btn-block  btn-double' title='16') 8<br/>..
					td: button(type='button' class='btn-score btn-info btn-lg btn-block  btn-double' title='14') 7<br/>..
					td: button(type='button' class='btn-score btn-info btn-lg btn-block  btn-double' title='12') 6<br/>..
					td: button(type='button' class='btn-score btn-info btn-lg btn-block  btn-double' title='10') 5<br/>..
					td: button(type='button' class='btn-score btn-info btn-lg btn-block  btn-triple' title='24') 8<br/>...
					td: button(type='button' class='btn-score btn-info btn-lg btn-block  btn-triple' title='21') 7<br/>...
					td: button(type='button' class='btn-score btn-info btn-lg btn-block  btn-triple' title='18') 6<br/>...
					td: button(type='button' class='btn-score btn-info btn-lg btn-block  btn-triple' title='15') 5<br/>...
				tr
					td: button(type='button' class='btn-score btn-info btn-lg btn-block ' title='4') 4<br/>.
					td: button(type='button' class='btn-score btn-info btn-lg btn-block ' title='3') 3<br/>.
					td: button(type='button' class='btn-score btn-info btn-lg btn-block ' title='2') 2<br/>.
					td: button(type='button' class='btn-score btn-info btn-lg btn-block ' title='1') 1<br/>.
					td: button(type='button' class='btn-score btn-info btn-lg btn-block  btn-double' title='8') 4<br/>..
					td: button(type='button' class='btn-score btn-info btn-lg btn-block  btn-double' title='6') 3<br/>..
					td: button(type='button' class='btn-score btn-info btn-lg btn-block  btn-double' title='4') 2<br/>..
					td: button(type='button' class='btn-score btn-info btn-lg btn-block  btn-double' title='2') 1<br/>..
					td: button(type='button' class='btn-score btn-info btn-lg btn-block  btn-triple' title='12') 4<br/>...
					td: button(type='button' class='btn-score btn-info btn-lg btn-block  btn-triple' title='9') 3<br/>...
					td: button(type='button' class='btn-score btn-info btn-lg btn-block  btn-triple' title='6') 2<br/>...
					td: button(type='button' class='btn-score btn-info btn-lg btn-block  btn-triple' title='3') 1<br/>...

	div(class='btn-group')
		button(type='button' class='btn btn-primary btn-block dropdown-toggle' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false') Advanced
			span(class='caret')
		ul(class='dropdown-menu')
			li: a(id='seeScoresButton') See scores
			li: a(id='cancelMatchButton') Cancel Match


	div(class='modal fade' id='scoresModal' tabindex='-1' role='dialog' aria-labelledby='scoresModalLabel')
		div(class='modal-dialog' role='document')
			div(class='modal-content')
				div(class='modal-header')
					button(type='button' class='close' data-dismiss='modal' aria-label='Close')
						span(aria-hidden='true') &times;
					h4(class='modal-title' id='scoresModalLabel') Scores
				div(class='modal-body')
					form
						div(class='table-responsive')
							table(class='table')
								thead
									tr(class='row')
										th #
										th Player
										th When
										th First
										th Second
										th Third
								tbody
									each score in match.scores
										tr(class='row')
											td= score.id
											td= players[score.player_id].name
											td= score.created_at
											td= score.first_dart * score.first_dart_multiplier
											td= score.second_dart * score.second_dart_multiplier
											td= score.third_dart * score.third_dart_multiplier
					div(class='modal-footer')
						button(type='button' class='btn btn-default' data-dismiss='modal') Close
