extends layout.pug

block scripts
    script.
        $(function () {
            FastClick.attach(document.body);
        });
        $(document).ready(function(){
            $('[data-toggle="popover"]').popover();

            var matchId = $('#submitScoreButton').data('match-id');
            var socket = io('http://10.12.100.66:3000/match/' + matchId);
            socket.on('connect', function(data) {
                socket.emit('join', 'Client Conneting');
            });

            socket.on('connected', function(data) {
                console.log(data);
            });

            socket.on('match_finished', function(data) {
                // Forward all clients to results page when match is finished
                location.href = window.location.pathname + '/results';
            });

            socket.on('score_update', function(data) {
                // Set updated score per player
                var currentPlayerId = data.current_player;
                var players = data.players;
                for (key in players) {
                    var player = players[key];
                    var td = $('#player_score_' + player.id);
                    var label = td.find('.label-player-score');
                    label.text(player.current_score);

                    if (player.id === currentPlayerId) {
                        td.addClass('label-active-player')
                        td.removeClass('label-inactive-player');
                        label.attr('id', 'current_player');
                        $('#submitScoreButton').data('current-player-id', player.id);
                    }
                    else {
                        td.addClass('label-inactive-player');
                        td.removeClass('label-active-player');
                        label.attr('id', 'label_' + player.id);
                        label.removeAttr('data-current-player-id');
                    }
                }

                // Reset UI elements
                window.darts_thrown = 0;
                $('#first').text('');
                $('#first').removeAttr('data-score');
                $('#second').text('');
                $('#second').removeAttr('data-score');
                $('#third').text('');
                $('#third').removeAttr('data-score');
                $('#submitScoreButton').data('busted', 0);
                $('#submitScoreButton').data('finished', 0);
            });

            $('#submitScoreButton').click(function () {
                $('[data-toggle=popover]').popover('hide'); // Hide the popover when a button is pressed
                // Scores
                var firstScoreNumeric = $('#first').attr('data-score');
                var secondScoreNumeric = $('#second').attr('data-score');
                var thirdScoreNumeric = $('#third').attr('data-score');

                // Multipliers
                var firstScoreMultiplier = $('#first').attr('data-multiplier');
                var secondScoreMultiplier = $('#second').attr('data-multiplier');
                var thirdScoreMultiplier =  $('#third').attr('data-multiplier');
                // Checkouts
                var isCheckoutFirst = $('#first').attr('data-checkout');
                var isCheckoutSecond = $('#second').attr('data-checkout');
                var isCheckoutThird = $('#third').attr('data-checkout');

                var matchId = $(this).data('match-id');
                var currentPlayerId = $(this).data('current-player-id');
                var playersInMatch = $(this).data('players-in-match');
                var isBust = $(this).data('busted');
                var isFinished = $(this).data('finished');

                var data = JSON.stringify({
                    'matchId': matchId,
                    'playerId': currentPlayerId,
                    'firstDart': firstScoreNumeric,
                    'secondDart': secondScoreNumeric,
                    'thirdDart': thirdScoreNumeric,
                    'firstDartMultiplier': firstScoreMultiplier,
                    'secondDartMultiplier': secondScoreMultiplier,
                    'thirdDartMultiplier': thirdScoreMultiplier,
                    'playersInMatch': playersInMatch,
                    'isBust': isBust,
                    'isCheckoutFirst': isCheckoutFirst,
                    'isCheckoutSecond': isCheckoutSecond,
                    'isCheckoutThird': isCheckoutThird,
                });

                if (isFinished) {
                    executePost(window.location.pathname + '/finish', data, 'application/json',
                        function (response) {
                            location.href = window.location.pathname + '/results';
                        },
                        function (error) {
                            // TODO Error handling
                            console.log("Unable to proceed: " + error.responseText);
                        }
                    )
                }
                else {
                    socket.emit('throw', data);
                }
            });
        });
    script.
        $(function () {
            var scores = {};
            $(document).ready(function () {
                window.darts_thrown = 0;
                $(document).scrollTop(170);
            });
            $('#score_selector_table .throw_buttons :button').click(function () {
                $('[data-toggle=popover]').popover('hide'); // Hide the popover when a button is pressed

                var dart;
                if (window.darts_thrown === 0) {
                    dart = $('#first');
                }
                else if (window.darts_thrown === 1) {
                    dart = $('#second');
                }
                else if (window.darts_thrown === 2) {
                    dart = $('#third');
                }
                else {
                    alert('Please submit previous score!');
                    return;
                }
                var multiplier = $(this).data('multiplier');
                var multiplierText = '';
                if (multiplier == 3) {
                    multiplierText = 'T-' + $(this).text().substring(0, $(this).text().length - 3);
                    dart.css('background-color', '#d9534f');
                }
                else if (multiplier == 2) {
                    multiplierText = 'D-' + $(this).text().substring(0, $(this).text().length - 2);
                    dart.css('background-color', 'orange');
                }
                else {
                    multiplierText = $(this).text().substring(0, $(this).text().length - 1);
                    dart.css('background-color', 'black');
                }
                dart.text(multiplierText);

                dart.attr('data-score', $(this).attr('title') / multiplier);
                dart.attr('data-multiplier', multiplier);

                var submitButton = $('#submitScoreButton');

                var currentPlayer = $('#current_player');
                var currentPlayerScore = parseInt(currentPlayer.text());
                var scoreNumeric = parseInt($(this).attr('title'));
                var dartScore = scoreNumeric ? scoreNumeric : 0;

                var scoreAfterThrow = parseInt(currentPlayerScore - scoreNumeric);

                // If the current score for the player is equal to 50 or even and <= 40, then it is a checkout attempt
                if (currentPlayerScore == 50 || (currentPlayerScore <= 40 && currentPlayerScore % 2 == 0)) {
                    dart.attr('data-checkout', 1);
                }

                var isBust = false;

                // Is the game over
                if (scoreAfterThrow == 0) {
                    if (multiplier == 2) {
                        if (confirm('Game will be finished.')) {
                            // End game, 'click' submit
                            submitButton.data('finished', 1).trigger('click');
                        } else {
                            // Clear the score for thrown dart
                            dart.text('');
                        }
                        return;
                    } else {
                        isBust = true;
                    }
                } else if (scoreAfterThrow <= 1) {
                    isBust = true;
                }

                if (isBust) {
                    if (confirm('Bust')) {
                        // Bust, 'click' submit
                        submitButton.data('busted', 1).trigger('click');
                        return;
                    } else {
                        // Clear the score for thrown dart
                        dart.text('');
                    }
                } else {
                    currentPlayer.text(scoreAfterThrow);
                    scores[window.darts_thrown] = dartScore;
                    window.darts_thrown++;
                }
            });

            $('#undoButton').click(function () {
                $('[data-toggle=popover]').popover('hide'); // Hide the popover when a button is pressed
                if (window.darts_thrown < 1) {
                    return;
                }

                var currentPlayer = $('#current_player');
                var currentPlayerScore = parseInt(currentPlayer.text());
                window.darts_thrown--;
                currentPlayer.text(currentPlayerScore + scores[window.darts_thrown]);

                var dart;
                if (window.darts_thrown === 0) {
                    dart = $('#first');
                }
                else if (window.darts_thrown === 1) {
                    dart = $('#second');
                }
                else if (window.darts_thrown === 2) {
                    dart = $('#third');
                }
                dart.text('');
                dart.removeAttr('data-score');
            });

            $('#seeScoresButton').click(function () {
                $('#scoresModal').modal('show');
            });
            $('#editScoresButton').click(function () {
                location.href = window.location.pathname + '/results';
            });
            $('#cancelMatchButton').click(function () {
                if (!confirm('Game will be cancelled.')) {
                    return;
                }
                executeDelete(window.location.pathname + '/cancel',
                    function (response) {
                        location.href = '/match/list';
                    },
                    function (error) {
                        var alert = $('#cancelMatchFailedAlert');
                        alert.show();
                        alert.text('Unable to cancel match, see log for details (' + error.statusText + ')');
                    }
                );
            });
        });

block content
    div(id='cancelMatchFailedAlert' class='alert alert-danger' role='alert' hidden='true').
        Unable to cancel match

    h2= 'Match'
    div(class='table-responsive')
        table(id='score_selector_table' class='table')
            tbody
                tr(class='row')
                    td(colspan='3' class='no-border')
                    td(colspan='2' class='dart-score-container no-border'): label(id='first' text='0' data-multiplier='1' data-checkout='0')
                    td(colspan='2' class='dart-score-container no-border'): label(id='second' text='0' data-multiplier='1' data-checkout='0')
                    td(colspan='2' class='dart-score-container no-border'): label(id='third' text='0' data-multiplier='1' data-checkout='0')
                    td(colspan='2')
                        button(id='submitScoreButton' type='button' style='line-height:1.5' class='btn-score btn-info btn-lg btn-block' data-match-id=match.id data-current-player-id=match.current_player_id data-players-in-match=match.player2match data-busted='0' data-finished='0') Submit
                    td(colspan='2')
                        button(id='undoButton' type='button' class='btn-score btn-info btn-lg btn-block')
                            span(class='glyphicon glyphicon-arrow-left' style='line-height:1.5' aria-hidden='true')
                - var length = 12 / Object.keys(players).length
                tr(class='row')
                    td(class='txt-center')= 'R' + match.roundNumber + '/' + game_type.short_name
                    each player in players
                        - var popoverContent = 'First 9: ' + player.first9ppd.toFixed(2) + ', PPD: ' + player.ppd.toFixed(2)
                        if  player.current
                            td(id='player_score_' + player.id + '' colspan=length + '' class=player.isBeerCheckoutSafe ? 'label-active-player' : 'label-active-player beer' style='padding-right: 10px;')
                                label(class='label label-block label-player-score' id=player.current ? 'current_player' : 'label_' + player.id data-container='body' data-toggle='popover' data-placement='top' data-content=popoverContent)= player.current_score
                                label(class='label-player-name' id='label_player_name_' + player.name)= player.name
                                div(class='btn btn-info pull-right' style='margin-top: -40px; mergin-right: 10px !important;')= player.wins
                        else
                            - var css = player.isViliusVisit ? 'label-inactive-player vilius' : player.isBeerCheckoutSafe ? 'label-inactive-player' : 'label-inactive-player beer'
                            td(id='player_score_' + player.id + '' colspan=length + '' class=css style='padding-right: 10px;')
                                label(class='label label-block label-player-score' id=player.current ? 'current_player' : 'label_' + player.id data-container='body' data-toggle='popover' data-placement='top' data-content=popoverContent)= player.current_score
                                label(class='label-player-name' id='label_player_name_' + player.name)= player.name
                                div(class='btn btn-info pull-right' style='margin-top: -40px; mergin-right: 10px !important;')= player.wins
                tr(class='throw_buttons row')
                    td: button(type='button' class='btn-score btn-info btn-lg btn-block' title='0' data-multiplier='1') Miss<br/>&nbsp;
                    td: button(type='button' class='btn-score btn-info btn-lg btn-block' title='20' data-multiplier='1') 20<br/>.
                    td: button(type='button' class='btn-score btn-info btn-lg btn-block' title='19' data-multiplier='1') 19<br/>.
                    td: button(type='button' class='btn-score btn-info btn-lg btn-block' title='18' data-multiplier='1') 18<br/>.
                    td: button(type='button' class='btn-score btn-info btn-lg btn-block' title='17' data-multiplier='1') 17<br/>.
                    td: button(type='button' class='btn-score btn-info btn-lg btn-block btn-double' title='40' data-multiplier='2') 20<br/>..
                    td: button(type='button' class='btn-score btn-info btn-lg btn-block btn-double' title='38' data-multiplier='2') 19<br/>..
                    td: button(type='button' class='btn-score btn-info btn-lg btn-block btn-double' title='36' data-multiplier='2') 18<br/>..
                    td: button(type='button' class='btn-score btn-info btn-lg btn-block btn-double' title='34' data-multiplier='2') 17<br/>..
                    td: button(type='button' class='btn-score btn-info btn-lg btn-block btn-triple' title='60' data-multiplier='3') 20<br/>...
                    td: button(type='button' class='btn-score btn-info btn-lg btn-block btn-triple' title='57' data-multiplier='3') 19<br/>...
                    td: button(type='button' class='btn-score btn-info btn-lg btn-block btn-triple' title='54' data-multiplier='3') 18<br/>...
                    td: button(type='button' class='btn-score btn-info btn-lg btn-block btn-triple' title='51' data-multiplier='3') 17<br/>...
                tr(class='throw_buttons row')
                    td(rowspan='2' style='height:100%; background-color: #ffe6cc;')
                        button(type='button' style='height:100%;overflow: auto;' class='btn-score btn-info btn-lg btn-block btn-double' title='25' data-multiplier='1') Bull<br/>.
                    td: button(type='button' class='btn-score btn-info btn-lg btn-block' title='16' data-multiplier='1') 16<br/>.
                    td: button(type='button' class='btn-score btn-info btn-lg btn-block' title='15' data-multiplier='1') 15<br/>.
                    td: button(type='button' class='btn-score btn-info btn-lg btn-block' title='14' data-multiplier='1') 14<br/>.
                    td: button(type='button' class='btn-score btn-info btn-lg btn-block' title='13' data-multiplier='1') 13<br/>.
                    td: button(type='button' class='btn-score btn-info btn-lg btn-block  btn-double' title='32' data-multiplier='2') 16<br/>..
                    td: button(type='button' class='btn-score btn-info btn-lg btn-block  btn-double' title='30' data-multiplier='2') 15<br/>..
                    td: button(type='button' class='btn-score btn-info btn-lg btn-block  btn-double' title='28' data-multiplier='2') 14<br/>..
                    td: button(type='button' class='btn-score btn-info btn-lg btn-block  btn-double' title='26' data-multiplier='2') 13<br/>..
                    td: button(type='button' class='btn-score btn-info btn-lg btn-block  btn-triple' title='48' data-multiplier='3') 16<br/>...
                    td: button(type='button' class='btn-score btn-info btn-lg btn-block  btn-triple' title='45' data-multiplier='3') 15<br/>...
                    td: button(type='button' class='btn-score btn-info btn-lg btn-block  btn-triple' title='42' data-multiplier='3') 14<br/>...
                    td: button(type='button' class='btn-score btn-info btn-lg btn-block  btn-triple' title='39' data-multiplier='3') 13<br/>...
                tr(class='throw_buttons row')
                    td: button(type='button' class='btn-score btn-info btn-lg btn-block' title='12' data-multiplier='1') 12<br/>.
                    td: button(type='button' class='btn-score btn-info btn-lg btn-block' title='11' data-multiplier='1') 11<br/>.
                    td: button(type='button' class='btn-score btn-info btn-lg btn-block' title='10' data-multiplier='1') 10<br/>.
                    td: button(type='button' class='btn-score btn-info btn-lg btn-block' title='9' data-multiplier='1') 9<br/>.
                    td: button(type='button' class='btn-score btn-info btn-lg btn-block  btn-double' title='24' data-multiplier='2') 12<br/>..
                    td: button(type='button' class='btn-score btn-info btn-lg btn-block  btn-double' title='22' data-multiplier='2') 11<br/>..
                    td: button(type='button' class='btn-score btn-info btn-lg btn-block  btn-double' title='20' data-multiplier='2') 10<br/>..
                    td: button(type='button' class='btn-score btn-info btn-lg btn-block  btn-double' title='18' data-multiplier='2') 9<br/>..
                    td: button(type='button' class='btn-score btn-info btn-lg btn-block  btn-triple' title='36' data-multiplier='3') 12<br/>...
                    td: button(type='button' class='btn-score btn-info btn-lg btn-block  btn-triple' title='33' data-multiplier='3') 11<br/>...
                    td: button(type='button' class='btn-score btn-info btn-lg btn-block  btn-triple' title='30' data-multiplier='3') 10<br/>...
                    td: button(type='button' class='btn-score btn-info btn-lg btn-block  btn-triple' title='27' data-multiplier='3') 9<br/>...
                tr(class='throw_buttons row')
                    td(rowspan='2' style='height:100%; background-color: #ffcc66;')
                        button(type='button' style='height:100%;' class='btn-score btn-info btn-lg btn-block btn-triple' title='50' data-multiplier='2') Bull<br/>..
                    td: button(type='button' class='btn-score btn-info btn-lg btn-block' title='8' data-multiplier='1') 8<br/>.
                    td: button(type='button' class='btn-score btn-info btn-lg btn-block' title='7' data-multiplier='1') 7<br/>.
                    td: button(type='button' class='btn-score btn-info btn-lg btn-block' title='6' data-multiplier='1') 6<br/>.
                    td: button(type='button' class='btn-score btn-info btn-lg btn-block' title='5' data-multiplier='1') 5<br/>.
                    td: button(type='button' class='btn-score btn-info btn-lg btn-block  btn-double' title='16' data-multiplier='2') 8<br/>..
                    td: button(type='button' class='btn-score btn-info btn-lg btn-block  btn-double' title='14' data-multiplier='2') 7<br/>..
                    td: button(type='button' class='btn-score btn-info btn-lg btn-block  btn-double' title='12' data-multiplier='2') 6<br/>..
                    td: button(type='button' class='btn-score btn-info btn-lg btn-block  btn-double' title='10' data-multiplier='2') 5<br/>..
                    td: button(type='button' class='btn-score btn-info btn-lg btn-block  btn-triple' title='24' data-multiplier='3') 8<br/>...
                    td: button(type='button' class='btn-score btn-info btn-lg btn-block  btn-triple' title='21' data-multiplier='3') 7<br/>...
                    td: button(type='button' class='btn-score btn-info btn-lg btn-block  btn-triple' title='18' data-multiplier='3') 6<br/>...
                    td: button(type='button' class='btn-score btn-info btn-lg btn-block  btn-triple' title='15' data-multiplier='3') 5<br/>...
                tr(class='throw_buttons row')
                    td: button(type='button' class='btn-score btn-info btn-lg btn-block' title='4' data-multiplier='1') 4<br/>.
                    td: button(type='button' class='btn-score btn-info btn-lg btn-block' title='3' data-multiplier='1') 3<br/>.
                    td: button(type='button' class='btn-score btn-info btn-lg btn-block' title='2' data-multiplier='1') 2<br/>.
                    td: button(type='button' class='btn-score btn-info btn-lg btn-block' title='1' data-multiplier='1') 1<br/>.
                    td: button(type='button' class='btn-score btn-info btn-lg btn-block  btn-double' title='8' data-multiplier='2') 4<br/>..
                    td: button(type='button' class='btn-score btn-info btn-lg btn-block  btn-double' title='6' data-multiplier='2') 3<br/>..
                    td: button(type='button' class='btn-score btn-info btn-lg btn-block  btn-double' title='4' data-multiplier='2') 2<br/>..
                    td: button(type='button' class='btn-score btn-info btn-lg btn-block  btn-double' title='2' data-multiplier='2') 1<br/>..
                    td: button(type='button' class='btn-score btn-info btn-lg btn-block  btn-triple' title='12' data-multiplier='3') 4<br/>...
                    td: button(type='button' class='btn-score btn-info btn-lg btn-block  btn-triple' title='9' data-multiplier='3') 3<br/>...
                    td: button(type='button' class='btn-score btn-info btn-lg btn-block  btn-triple' title='6' data-multiplier='3') 2<br/>...
                    td: button(type='button' class='btn-score btn-info btn-lg btn-block  btn-triple' title='3' data-multiplier='3') 1<br/>...

    div(class='btn-group')
        button(type='button' class='btn btn-primary btn-block dropdown-toggle' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false') Advanced
            span(class='caret')
        ul(class='dropdown-menu')
            li: a(id='seeScoresButton') See scores
            li: a(id='editScoresButton') Edit scores
            li: a(id='cancelMatchButton') Cancel Match

    div(class='modal fade' id='scoresModal' tabindex='-1' role='dialog' aria-labelledby='scoresModalLabel')
        div(class='modal-dialog' role='document')
            div(class='modal-content')
                div(class='modal-header')
                    button(type='button' class='close' data-dismiss='modal' aria-label='Close')
                        span(aria-hidden='true') &times;
                    h4(class='modal-title' id='scoresModalLabel') Scores
                div(class='modal-body')
                    form
                        div(class='table-responsive')
                            table(class='table')
                                thead
                                    tr(class='row')
                                        th #
                                        th Player
                                        th When
                                        th First
                                        th Second
                                        th Third
                                tbody
                                    each score in match.scores
                                        tr(class='row')
                                            td= score.id
                                            td= players['p' + score.player_id].name
                                            td= score.created_at
                                            td= score.first_dart * score.first_dart_multiplier
                                            td= score.second_dart * score.second_dart_multiplier
                                            td= score.third_dart * score.third_dart_multiplier
                    div(class='modal-footer')
                        button(type='button' class='btn btn-default' data-dismiss='modal') Close
