extends layout.pug

block scripts
	script.
		$(function() {
			$('#showPaybackModalButton').click(function() {
				$('#addPaybackSuccessAlert').hide();
				$('#addPaybackFailedAlert').hide();
			});

			$('#registerPaybackButton').click(function() {
				var ower = parseInt($('#ower_combo').val());
				var owee = parseInt($('#owee_combo').val());
				if (isNaN(ower) || isNaN(owee) === NaN) {
					return;
				}
				var payload = {
					player_ower_id: ower,
					player_owee_id: owee,
					amount: parseInt($('#paybackAmount').val()),
					owe_type: { id: parseInt($('#paybackItem').val()) }
				}
				executePut('/cake/payback', JSON.stringify(payload), 'application/json',
					function(response) {
						location.href = window.location;
					},
					function(error) {
						console.log(error.responseText + '(' + error.status + ')');
						var alert = $('#addPaybackFailedAlert');
						alert.show();
						alert.text('Unable to add payback. ' + error.responseText);
					}
				);
			});
		});

block content
	div(id='addPaybackFailedAlert' class='alert alert-danger' role='alert' hidden='true').
		Unable to add payback. See log for details
	div(id='addPaybackSuccessAlert' class='alert alert-success' role='alert' hidden='true').
		Payback successfully registered

	h2 Owes
	p.
		This table shows which players owe eachother items for lost matches
	table(id='player_owes_table' class='table table-striped table-bordered')
		thead
			tr
				th Buyer
				th Receiver
				th Item
				th Amount
		tbody
			each owe in owes
				tr
					td= players[owe.player_ower_id].name
					td= players[owe.player_owee_id].name
					td= owe.owe_type.item
					td= owe.amount

	button(type='button' class='btn btn-block btn-primary' id='showPaybackModalButton' data-toggle='modal' data-target='#registerPaybackModal') Register Payback
	div(class='modal fade' id='registerPaybackModal' tabindex='-1' role='dialog' aria-labelledby='registerPaybackModalLabel')
		div(class='modal-dialog' role='document')
			div(class='modal-content')
				div(class='modal-header')
					button(type='button' class='close' data-dismiss='modal' aria-label='Close')
						span(aria-hidden='true') &times;
					h4(class='modal-title' id='registerPaybackModalLabel') Register Payback between two player
				div(class='modal-body')
					form(id='paybackForm')
						div(class='form-group')
							p Buyer
							select(id='ower_combo')
								option(value='' selected disabled hidden) Choose ...
								each player in players
									option(value=player.id)= player.name
						div(class='form-group')
							p Reciever
							select(id='owee_combo')
								option(value='' selected disabled hidden) Choose ...
								each player in players
									option(value=player.id)= player.name
						div(class='form-group')
							label(for='amountInput' class='control-label') Amount
								input(type='number' name='paybackAmount' min='0' step='1' class='form-control' value=1 id='paybackAmount')
						div(class='form-group')
							label(for='paybackItem') Item:
							select(class='form-control' name='paybackItem' id='paybackItem')
								option(value=1) Cake
								option(value=2) Beer
					div(class='modal-footer')
						button(type='button' class='btn btn-default' data-dismiss='modal') Close
						button(type='submit' name='submit' class='btn btn-primary' data-dismiss='modal' id='registerPaybackButton') Register
