extends layout.pug

block scripts
	script.
		$(function() {
			$('#showPaybackModalButton').click(function() {
				$('#addPaybackSuccessAlert').hide();
				$('#addPaybackFailedAlert').hide();
			});

			$('#registerPaybackButton').click(function() {
				var payload = {
					ower: parseInt($('input[name=ower]:checked', '#paybackForm').val()),
					owee: parseInt($('input[name=owee]:checked', '#paybackForm').val()),
					amount: $('#paybackAmount').val(),
					item: $('#paybackItem').val()
				}
				executePut('/cake/payback', JSON.stringify(payload), 'application/json',
					function(response) {
						$('#registerPaybackModal').modal('toggle');
						location.href = window.location;
						//- var alert = $('#addPaybackSuccessAlert');
						//- alert.show();
						//- alert.text('Unable to add payback. ' + error.responseText);
					},
					function(error) {
						console.log(error);
						var alert = $('#addPaybackFailedAlert');
						alert.show();
						alert.text('Unable to add payback. ' + error.responseText);
						$('#registerPaybackModal').modal('toggle');
					}
				);
			});
		});

block content
	div(id='addPaybackFailedAlert' class='alert alert-danger' role='alert' hidden='true').
		Unable to add payback. See log for details
	div(id='addPaybackSuccessAlert' class='alert alert-success' role='alert' hidden='true').
		Payback successfully registered

	h2 Owes
	p.
		This table shows which players owe eachother items for lost matches
	table(class='table table-striped table-bordered')
		thead
			tr
				th Ower
				th Owee
				th Item
				th Amount
		tbody
			each owe in owes
				tr
					td= owe.player_ower.name
					td= owe.player_owee.name
					td= owe.owe_type.item
					td= owe.amount

	h2 Payback Log
	p This is an overview showing payback between players

	//- table(class='table table-striped table-bordered')
	//- 	thead
	//- 		tr
	//- 			th When
	//- 			th Payer
	//- 			th Payee
	//- 			th Item
	//- 	tbody
	//- 		each payback in owes.paybacks
	//- 			tr
	//- 				td(class='col-md-3')= payback.when
	//- 				td= payback.payer
	//- 				td= payback.payee
	//- 				td= payback.item

	button(type='button' class='btn btn-block btn-primary' id='showPaybackModalButton' data-toggle='modal' data-target='#registerPaybackModal') Register Payback
	div(class='modal fade' id='registerPaybackModal' tabindex='-1' role='dialog' aria-labelledby='registerPaybackModalLabel')
		div(class='modal-dialog' role='document')
			div(class='modal-content')
				div(class='modal-header')
					button(type='button' class='close' data-dismiss='modal' aria-label='Close')
						span(aria-hidden='true') &times;
					h4(class='modal-title' id='registerPaybackModalLabel') Register Payback between two player
				div(class='modal-body')
					form(action='/cake/payback' method='PUT' id='paybackForm')
						div(class='form-group')
							p Ower
							each player in players
								label(for='ower_' + player.id class='radio-inline control-label')= player.name
								input(id='ower_' + player.id type='radio' name='ower' value=player.id)
						div(class='form-group')
							p Owee
							each player in players
								label(for='owee_' + player.id class='radio-inline control-label')= player.name
								input(id='owee_' + player.id type='radio' name='owee' value=player.id)
						div(class='form-group')
							label(for='amountInput' class='control-label') Amount
								input(type='number' name='paybackAmount' min='0' step='1' class='form-control' value=1 id='paybackAmount')
						div(class='form-group')
							label(for='paybackItem') Item:
							select(class='form-control' name='paybackItem' id='paybackItem')
								option Cake
								option Beer
					div(class='modal-footer')
						button(type='button' class='btn btn-default' data-dismiss='modal') Close
						button(type='submit' name='submit' class='btn btn-primary' id='registerPaybackButton') Register
