extends layout.pug

block content
	h2 Statistics for #{player.name}
	
	div(class='table-responsive')
		table(class='table table-striped table-bordered')
			thead
				tr
					th Played
					th Won
					th Win %
					th First 9 PPD
					th Overall PPD
					th Scores
			tbody
					tr
						td
							p= player.gamesPlayed
						td
							p= player.gamesWon
						td
							p= player.gamesPlayed == 0 ? 0 : (player.gamesWon * 100 / player.gamesPlayed).toFixed(2)
						td
							p= player.first9ppd.toFixed(2)
						td
							p= player.ppd.toFixed(2)
						td 
							p= player.highScores['60+'] == 0 ? "" : "60+: " + player.highScores['60+']
							p= player.highScores['100+'] == 0 ? "" : "100+: " + player.highScores['100+']
							p= player.highScores['140+'] == 0 ? "" : "140+: " + player.highScores['140+']
							p= player.highScores['180'] == 0 ? "" : "180:  " + player.highScores['180']