extends layout.pug

block content
	h2 Statistics for #{player.name}
	
	div(class='table-responsive')
		table(class='table table-striped table-bordered')
			thead
				tr
					th Played
					th Won
					th First 9 PPD
					th Overall PPD
			tbody
					tr
						td= player.games_played
						td= player.games_won
						td= player.games_played == 0 ? 0 : (player.games_won / player.games_played).toFixed(2)
						td= player.ppd