extends layout.pug

block content
	h2 Player Comparison

	div(class='table-responsive')
		table(id='player_comparison_table' class='table table-striped table-bordered')
			thead
				tr
					th
					each player in players
						th= player.name
			tbody
				tr
					td(class='col-sm-2') Won/Played
					each player in players
						td= player.gamesWon + '/' + player.gamesPlayed
				tr
					td(class='col-sm-2') Win %
					each player in players
						td= ((player.gamesWon * 100) / player.gamesPlayed).toFixed(2) + '%'
				tr
					td(class='col-sm-2') PPD
					each player in players
						td= player.ppd.toFixed(2)
				tr
					td(class='col-sm-2') First 9 PPD
					each player in players
						td= player.first9ppd.toFixed(2)
				tr
					td(class='col-sm-2') Best PPD
					each player in players
						td= player.bestPpd.toFixed(2)
				tr
					td(class='col-sm-2') Best First 9 PPD
					each player in players
						td= player.bestFirst9Ppd.toFixed(2)
				tr
					td(class='col-sm-2') Checkout%
					each player in players
						td= (player.gamesWon * 100 / player.checkoutAttempts === undefined ? 0 : player.checkoutAttempts).toFixed(2) + '%'
				tr
					td(class='col-sm-2') Highest Checkout
					each player in players
						td= player.highestCheckout === undefined ? '-' : player.highestCheckout
				tr
					td(class='col-sm-2') Best 301
					each player in players
						td= player.best301 === undefined ? '-' : player.best301 + ' darts'
				tr
					td(class='col-sm-2') Best 501
					each player in players
						td= player.best501 === undefined ? '-' : player.best501 + ' darts'
				tr
					td(class='separator_row')
						each player in players
							td(class='separator_row') High Scores
				tr
					td(class='col-sm-2') 60+
					each player in players
						td= player['60+']
				tr
					td(class='col-sm-2') 100+
					each player in players
						td= player['100+']
				tr
					td(class='col-sm-2') 140+
					each player in players
						td= player['140+']
				tr
					td(class='col-sm-2') 180
					each player in players
						td= player['180s']