extends layout.pug

block content
	h2 Showing Results for Game (#{match.id})

	p.
		Match ID #{match.id} <br>
		Started #{match.start_time} <br>
		Finished #{match.end_time} <br>
		Duration #{match.match_duration}.
	p.
		Starting score was #{match.starting_score}, and a total of #{match.darts_thrown.length * 3} darts were thrown by #{match.players.length} players

	table(class='table table-striped table-bordered')
		thead
			tr
				th Player
				th First Dart
				th Second Dart
				th Third Dart
				th Total
				th PPD
		tbody
			each throws in match.darts_thrown
				tr
					td= throws.player
					td= throws.first_dart
					td= throws.second_dart
					td= throws.third_dart
					td= throws.first_dart + throws.second_dart + throws.third_dart
					td= ((throws.first_dart + throws.second_dart + throws.third_dart) / 3).toFixed(2)