extends layout.pug

block content
	h2 Results

	p.
		ID: #{match.id} <br>
		Started: #{match.startTime.toISOString()} <br>
		Finished: #{match.endTime.toISOString()} <br>
		Duration: #{((match.endTime - match.startTime) / (60 * 1000)).toFixed(1)} minutes <br>
		Stakes: #{match.stake === "" ? "None" : match.stake}
	
	table(class='table table-striped table-bordered')
		thead
			tr
				th Players
				th First 9 PPD
				th PPD
				th Winner
		tbody
			each player in match.players
				tr
					td= player.name
					td= player.first9ppd
					td= player.ppd
					if player.name === match.winner.name
						td
							span(class='glyphicon glyphicon-ok' aria-hidden='true')
					else
						td
	p.
		Starting score was #{match.startingScore}, and a total of XXX darts were thrown by #{match.players.length} players

	table(class='table table-striped table-bordered')
		thead
			tr
				th Player
				th First Dart
				th Second Dart
				th Third Dart
				th Total
				th PPD
		tbody
			//- each throws in match.darts_thrown
			//- 	tr
			//- 		td= throws.player
			//- 		td= throws.first_dart
			//- 		td= throws.second_dart
			//- 		td= throws.third_dart
			//- 		td= throws.first_dart + throws.second_dart + throws.third_dart
			//- 		td= ((throws.first_dart + throws.second_dart + throws.third_dart) / 3).toFixed(2)