extends layout.pug
	
block content
	h2 Showing Results for Game (#{game.id})

	p.
		Match #{game.id} was started #{game.start_time} and finished at #{game.end_time}. Starting score was #{game.starting_score}, and a total of #{game.darts_thrown.length * 3} darts were thrown by #{game.players.length} players

	table(class='table table-striped table-bordered')
		thead
			tr
				th Player
				th First Dart
				th Second Dart
				th Third Dart
				th Total
		tbody
			each throws in game.darts_thrown
				tr
					td= throws.player
					td= throws.first_dart
					td= throws.second_dart
					td= throws.third_dart
					td= throws.first_dart + throws.second_dart + throws.third_dart